.container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	position: relative;
}

img {
	max-width: 100%;
}

/* Carousel */

.ant-carousel .slick-slide {
	text-align: center;
	height: 200px;
	line-height: 160px;
	background: #364d79;
	color: #fff;
}

/* main profile */

/* .profile-main {
   padding: 20px 0;
} */

/* Avatar section */

.avatar-img {
	margin-bottom: 10px;
}

.avatar-img img {
	border-radius: 50%;
	border: 3px solid #fff;
}

.avatar-wrapper {
	text-align: center;
	position: absolute;
	top: -75px;
}

/* Profile information/Form */

.profile-information {
	padding: 20px 0;
}

.profile-information h1 {
	text-align: left;
}

.form-container {
	margin-top: 40px;
}

/* Footer */

.ant-layout-footer {
	background-color: lightslategray;
}

/* Buttons

.button-wrapper {
   text-align: left;
}

.button-wrapper button {
   margin-right: 15px;
} */

.login-form {
	width: 300px;
	margin: 0 auto;
	padding: 24px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}

.register-form {
	width: 300px;
	margin: 0 auto;
	padding: 24px;
}

.register-form-button {
	width: 100%;
}