.container {
   max-width: 1000px;
   width: 100%;
   margin: auto;
   overflow: hidden;
   position: relative;
}

img {
   max-width: 100%;
}

/* Carousel */

.ant-carousel .slick-slide {
   text-align: center;
   height: 160px;
   line-height: 160px;
   background: #364d79;
   overflow: hidden;
   color: #fff;
}

/* main profile */

.profile-main {
   padding: 20px 0;
}

/* Avatar section */

.avatar-img {
   margin-bottom: 10px;
}

.avatar-img img {
   border-radius: 50%;
   border: 2px solid #fff;
}

.avatar-wrapper {
   text-align: center;
}

/* Profile information/Form */

.profile-information {
   padding: 20px 0;
}

.profile-information h1 {
   text-align: left;
}

.form-container {
   margin-top: 40px;
}

/* Footer */

.ant-layout-footer {
   background-color: lightslategray;
}