@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/global.scss";

// pages

@import "./scss/auth.scss";
@import "./scss/nav-header.scss";
@import "./scss/user-dashboard.scss";
@import "./scss/team-dashboard.scss";
@import "./scss/user-profile.scss";
@import "./scss/home.scss";

// components

@import "./scss/carousel.scss";
@import "./scss/team-card.scss";
@import "./scss/video-card.scss";
@import "./scss/prompt-list.scss";
@import "./scss/prompt-card.scss";
@import "./scss/member-list.scss";
@import "./scss/user-videos.scss";
@import "./scss/post-video.scss";
@import "./scss/upload-photo.scss";