div.header{
    display:flex; 
    flex-direction:column;
    justify-content:center;
    background-color: #F5F5F5;

    

    nav.bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		width: 100vw;
		padding: 20px;
		text-shadow: none;
		bottom: 0px;
		background-color: #6954EA;
		opacity: 1;
		position: fixed;
		top: 0px;
		* {
			margin:10px;
		}
		z-index: 9999;
		.title {
			width: 16%;
			text-align: right;
			display: flex;
			justify-content: center;

			img{
				max-width: 100%;
				object-fit: contain;
			}
		}
		.links {
			width: 60%;
			// min-width: 320px;
			display: flex;
			justify-content: flex-end;
			font-size: 1.4rem;
			font-weight: bolder;
			color: white;
			
			p:hover {
				cursor: pointer;
			}
			a,
			a:link,
			a:link {
				color: white;
			}
			a:visited {
				color: white;				
			}
			a:hover {
				color:#FF7F50;
			}
			* {
				margin: 0 3%;
			}
			div.navStart{
			button {
				background-color: white;
				color:#6954EA;
				display:flex;
				justify-content:center;
				align-items:center;
				&:hover{
					color:#FF7F50;
					border: 1px solid #FF7F50;
				}
				&:focus {
					color: white;
				}	
			}	
			
			}
		}
		
	}
    .cards{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content:center;

        
        h1{
			width: 100%;
			display:flex;
			justify-content:center;
			text-align: left;
			color: #6954EA;
			border-bottom: 1px dashed #6954EA;
        }
        
        .dev{
            max-width: 25%;
            margin: 40px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin: 30px;
			border-radius: 15px;
			padding: 30px;

			h2{
				display:flex;
				justify-content:center;
			}
            img{
                max-width: 85%;
				border-radius: 15px;
				display:flex;
				justify-content:center;
				margin-left:20px;
			}
			h3{
				margin-top:20px;
				display:flex;
				justify-content:center;
			}

        }
    }
}