.ant-row.auth-page {
	width: 100%;
	@media( max-width: 900px ) {
		display: flex;
		flex-direction: column;
	}
	.ant-col.auth-main {
		height: 100%;
		display: flex;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		@media( max-width: 600px ) {
			justify-content: flex-start;
		}
		span {
			padding: 20px 40px;
			align-self: flex-end;
			font-size: 14px;
			@media( max-width: 900px ) {
				padding: 0 0 15px 0;
				align-self: center;
				order: 3;
			}
		}
		.auth-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			p {
				font-size: 16px;
				margin-bottom: 20px;
			}
			span {
				padding: 0;
				justify-content: center;
			}
			h1 {
				font-size: 30px;
				font-weight: normal;
			}
		}
	}
	.auth-sider {
		background-color: $alpaca-green;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		min-width: 300px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
		.alpaca-logo-no-text, p {
			display: none;
		}
		@media( max-width: 900px ) {
			justify-content: flex-start;
			padding: 10px;
			width: 100%;
			height: auto;
			align-items: center;
			img {
				max-width: 80px;
			}
			.alpaca-logo {
				display: none;
			}
			.alpaca-logo-no-text, p {
				display: flex;
				align-items: center;
			}
			p {
				color: white;
				font-family: Pacifico;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				margin: 0 0 0 15px;;
			}
		}
	}
	a {
		color: $dark-blue;
	}
	.ant-form {
		margin-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media( max-width: 900px ) {
			margin-bottom: 0;
		}
		.register-form-button, .login-form-button {
			@include button($alpaca-green);
			width: 144px;
			margin-top: 20px;
		}
		.ant-form-item {
			margin-bottom: 0;
			width: 268px;
		}
		.ant-form-item-label {
			display: flex;
		}
		.ant-form-item-label > label::after {
			content: '';
		}
	}
}
