#root {
	.app {
		.ant-row.auth-page {
			background-color: $pale-yellow;
			.ant-col.auth-main {
				height: 100vh;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
				span {
					padding: 20px 40px;
					align-self: flex-end;
				}
				.auth-content {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					span {
						padding: 0;
					}
					h1 {
						font-size: 30px;
						font-weight: normal;
					}
				}
			}
			.auth-sider {
				background-color: $alpaca-green;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			a {
				color: $dark-blue;
			}
			.ant-form {
				margin-bottom: 60px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.register-form-button, .login-form-button {
					@include button($red);
					width: 144px;
					margin-top: 20px;
				}
				.ant-form-item {
					margin-bottom: 0;
					width: 268px;
				}
				.ant-form-item-label {
					display: flex;
				}
				.ant-form-item-label > label::after {
					content: '';
				}
			}
		}
	}
}