body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size              : 62.5%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.app {
	height    : 100vh;
	text-align: center;
}

.small {
	font-size: .8rem;
}

.tiny {
	font-size : .65rem;
	font-style: oblique;
}

h1 {
	font-size: $lg-heading-font-size;
}