body {
	
	background-color: orange;
	// @media (max-height: 500px) {
	// 	height: 500px;
	// 	margin: 0 auto;
	// }
	// @media (min-height: 500px) {
	// 	height: 100vh;
	// 	margin: 0 auto;
	// }
}

header.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	//overflow: hidden;
	text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1);

	div.header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		
		opacity: 1;
		// transition: opacity 0.5s linear;
		
		// align-items: left;
		width: 100vw;
		// width: 400px;
		padding: 25px;
		margin-bottom: 150px;
		& > div {
			margin: 5%;
		}
		div.logo {
			width: 25%;
			min-width: 320px;
			img {
				padding: 0;
				margin: 0;
				max-width: 100%;
				min-width: 250px;
			}
		}
		.TitleAndCards{
			display:flex;
			flex-direction:column;

			h1{
				justify-content:left;
			}
		}
		.box {
			width: 80%;
			max-width: 900px;
			min-width: 900px;
			

			background-color: $pale-yellow-alpha;
			.person {
				margin: 15px;
				width: 191px;
				text-align: left;
				.ant-card-body {
					padding: 10px;
					background-color: $pale-yellow-alpha;
				}
			}
			& > .ant-card-body {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				margin: 0px;
				padding: 0px;
			}
		}
		
		div.text {
			width: 50%;
			min-width: 320px;
			text-align: left;
			h1 {
				font-weight: bolder;
				font-size: 3rem;

				.text-red{
					color:#FF7F50;
				}
			}
			h2 {
				font-size: 2rem;
			}
			@media screen and (max-width: 1200px) {
				h1 {
					font-weight: bolder;
					font-size: 2.5rem;
				}
				h2 {
					font-size: 1.7rem;
				}
			}
			div.start {
				margin: 0;
				button {
					// padding: 15px;
					font-size: 1rem;
					font-weight: bolder;
					border: 1px solid $medium-grey;
					width: 80%;
					margin-top: 15px;
					&:hover {
						color:#FF7F50;
						background-color: white;
					}
					&:focus {
						color: #98FB98;
						background-color:white;	
					}
					background-color: #7B68EE;
					color: white;
				}
			}
			div.navStart{
				button {
					background-color: white;
					color:#7B68EE;
					&:hover{
						color:#FF7F50;
					}
					&:focus {
						color: #98FB98;
					}	
				}	
				
			}
		}
		@media screen and (max-width: 800px) {
			flex-direction: column;
			justify-content: space-evenly;
			div.logo {
				padding: 20px;
			}
			div.text {
				text-align: center;
			}

			* {
				margin: 0 auto;
			}
			h1 {
				font-weight: bolder;
				font-size: 2.5rem;
			}
			h2 {
				font-size: 1.7rem;
			}
		}
	}

	
	.bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 80px;
		width: 100%;

		padding: 20px;

		text-shadow: none;
		bottom: 0px;
		background-color: #7B68EE;
		opacity: 1;
		* {
			margin: 0 5%;
		}
		.title {
			@include userDashHeaderFont();
			width: 25%;
			min-width: 320px;
			text-align: right;
			display: flex;
			justify-content: center;
		}
		.links {
			width: 25%;
			min-width: 320px;
			display: flex;
			justify-content: flex-start;

			font-size: 1.5rem;
			font-weight: bolder;
			color: white;

			p:hover {
				cursor: pointer;
			}
			Link,
			Link:link,
			Link{
				color:white;
			}
			Link:visited{
				color:#98FB98;
			}
			Link:hover{
				color:#FF7F50;
			}
			a,
			a:link,
			a:link {
				color: white;
			}
			a:visited {
				color: #98FB98;				;
			}
			a:hover {
				color:#FF7F50 ;
			}
			// margin-right: 20%;
			* {
				margin: 0 3%;
			}
		}
		@media screen and (max-width: 800px) {
			* {
				font-size: 85%;
			}
			.title {
				display: none;
			}
			.links {
				justify-content: center;
			}
		}
	}
	@media screen and (max-height: 700px) {
		min-height: 700px;
		max-height: 700px;
		overflow: visible;
	}
}



