body {
	height: 100vh;
	background-color: orange;
	@media (max-height: 500px) {
		height: 500px;
		margin: 0 auto;
	}
	// @media (min-height: 500px) {
	// 	height: 100vh;
	// 	margin: 0 auto;
	// }
}

header.home {
	position: relative;
	height: 100vh;
	width: 100vw;
	// min-height: 700px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-image: none;
	overflow: hidden;
	text-shadow: 0 0 15px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 1);

	div.header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		display: none;
		opacity: 1;
		// transition: opacity 0.5s linear;
		animation: fade 0.25s linear;

		z-index: 99;
		// align-items: left;
		width: 100vw;
		// width: 400px;
		padding: 25px;
		margin-bottom: 150px;
		& > div {
			margin: 5%;
		}
		div.logo {
			width: 25%;
			min-width: 320px;
			img {
				padding: 0;
				margin: 0;
				max-width: 100%;
				min-width: 250px;
			}
		}
		.box {
			width: 80%;
			max-width: 900px;
			min-width: 900px;
			overflow: visible;

			background-color: $pale-yellow-alpha;
			.person {
				margin: 15px;
				width: 191px;
				text-align: left;
				.ant-card-body {
					padding: 10px;
					background-color: $pale-yellow-alpha;
				}
			}
			& > .ant-card-body {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				margin: 0px;
				padding: 0px;
			}
		}
		@keyframes fade {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		div.text {
			width: 25%;
			min-width: 320px;
			text-align: left;
			h1 {
				font-weight: bolder;
				font-size: 3rem;
			}
			h2 {
				font-size: 2rem;
			}
			@media screen and (max-width: 1200px) {
				h1 {
					font-weight: bolder;
					font-size: 2.5rem;
				}
				h2 {
					font-size: 1.7rem;
				}
			}
			div.start {
				margin: 0;
				button {
					// padding: 15px;
					font-size: 1rem;
					font-weight: bolder;
					@include button($alpaca-green);
					border: 1px solid $medium-grey;
					min-width: 142px;
					margin-top: 15px;
					&:hover {
						@include button($pale-yellow);
					}
					&:focus {
						@include button($alpaca-green);
					}
				}
			}
		}
		@media screen and (max-width: 800px) {
			flex-direction: column;
			justify-content: space-evenly;
			div.logo {
				padding: 20px;
			}
			div.text {
				text-align: center;
			}

			* {
				margin: 0 auto;
			}
			h1 {
				font-weight: bolder;
				font-size: 2.5rem;
			}
			h2 {
				font-size: 1.7rem;
			}
		}
	}

	div.cover {
		position: absolute;
		margin-top: -25px;
		height: 900px;
		width: 6000px;
		background-image: url("../imgs/floatbg.jpg");
		// background-position: center center;
		// background-size: 50%;
		animation: move 250s infinite linear;
		will-change: transform;
		opacity: 0.2;
	}

	div.mainbg {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(desaturate(darken($pale-yellow, 30%), 50%), lighten($pale-yellow, 20%));
	}
	.bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 80px;
		width: 100vw;

		padding: 20px;

		text-shadow: none;
		position: absolute;
		bottom: 0px;
		background-color: $alpaca-green;
		opacity: 1;
		* {
			margin: 0 5%;
		}
		.title {
			@include userDashHeaderFont();
			width: 25%;
			min-width: 320px;
			text-align: right;
			display: flex;
			justify-content: center;
		}
		.links {
			width: 25%;
			min-width: 320px;
			display: flex;
			justify-content: flex-start;

			font-size: 1.5rem;
			font-weight: bolder;

			p:hover {
				cursor: pointer;
			}
			a,
			a:link,
			a:visited {
				color: $dark-grey;
			}
			a:hover {
				color: $medium-grey;
			}
			// margin-right: 20%;
			* {
				margin: 0 3%;
			}
		}
		@media screen and (max-width: 800px) {
			* {
				font-size: 85%;
			}
			.title {
				display: none;
			}
			.links {
				justify-content: center;
			}
		}
	}
	@media screen and (max-height: 700px) {
		min-height: 700px;
		max-height: 700px;
		overflow: visible;
	}
}

// for the floaty headerbg

@keyframes move {
	0% {
		transform: translateY(0px) translateX(1500px);
	}
	50% {
		transform: translateY(0px) translateX(-1500px);
	}
	100% {
		transform: translateY(0) translateX(1500px);
	}
}
