.member-card {
	width: $card-width * 0.6;
	margin: 0 $card-spacing*.2 $card-row-spacing;
	text-align: center;
	
	p {
		// margin-bottom: 10px;
	}
	.ant-card-body {
		padding: 0;
	}
}

.edit-card {
	width: 75%;
	margin:auto;
}