@mixin button($color) {
	background-color: $color;
	border-color    : $color;
	color: $dark-grey;
}

@mixin outlined-button($color) {
	border-color: $color;
}

@mixin texts() {
	font-family: "Merriweather", sans-serif;
	color: $color-3;
	font-size: 1.6rem;
}