.nav-header {
	height: 100vh;
	width: 100%;
	//border: red 1px solid;
	.userDashHeaderFont {
		color: $alpaca-green;
		font-family: Pacifico;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 63px;
		display: flex;
		align-items: center;
		&:hover {
			color: $alpaca-green;
		}
	}
	.ant-layout-sider-zero-width-trigger {
		top: 20px;
	}
	.userDashHeader {
		height: 83px;
		padding: 0;
		//border: red 1px solid;
		.userDashHeaderFont {
			margin-bottom: 0;
		}
		.userDashContentHeader {
			padding: 0 50px;
			background-color: $white;
			//border: red 1px solid;
			//justify-content: space-between;
		}
	}
}
.bbb {
	display: flex;
	//flex-direction: column;
	//justify-content: center;
	text-align: center;
}

.ant-avatar {
	margin-top: 15px;
	cursor: pointer;
	border: 1px solid #6954EA;
}

p {
	line-height: 20px;
	font-size: 13px;
}

.ant-popover-inner-content {
	button {
		border: none !important;
		cursor: pointer;
	}
}
