.team-cards {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media( max-width: 600px ) {
		margin: 10%;
		flex-wrap: nowrap;
		overflow-x: auto;
		width:fit-content;
	}
	// @media( max-width: 800px ) {
  //   margin: 5%;
  // }
}

.add-team {
	margin: 10px;
	min-width: 160px;
	button {
		background-color: white;
		border: 2px dashed $alpaca-green;
		width: 50px;
		height: 50px;
		&:hover {
			background-color: $alpaca-green;
			border: 2px dashed white;
			i {
				color: white;
			}
		}
		i {
			color: $alpaca-green;
		}
	}
	p {
		color: $medium-grey;
		font-size: 13px;
		margin-top: 20px;
	}
}

.teamCard, .add-team {
	width: 160px;
	height: 200px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.teamCard {
	.ant-card-body {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

.team-cards::-webkit-scrollbar {
	display: none;
}