.user-dashboard {
	margin: 3%;
	@media( max-width: 600px ) {
    margin: 10%;
	}
	@media( max-width: 800px ) {
    margin: 5%;
  }
	h1 {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 45px;
		color: $dark-grey;
		text-align: left;
		margin: 20px 40px;
	}
	h3 {
		text-align: left;
		margin-left: 40px;
		margin-top: 10px;
		color: $dark-grey;
		font-weight: 600;
		font-size: 17px;
	}
}

.userDashList {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 20px 30px;
}