.userDashList {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 20px 30px;
}
.ant-menu-item{
	background-color:#6954EA;
	max-width: 90%;

	.ant-menu-item-selected{
		background-color:#6954EA;
	}
}