/*===== COLORS =====*/
$alpaca-green: #FF7F50;
$alpaca-green-alpha: #FF7F50;
$grey: #728096;
$alpaca-blue: #001529;
$pale-yellow: #fbffdf;
$pale-yellow-alpha: rgba(#fbffdf, 0.3);
$red: #ff0000;
$white: #ffffff;
$medium-grey: #728096;
$dark-blue: #021bff;
$dark-grey: #323a45;
$black: #000000;

/*===== FONT =====*/
$family: "Roboto";
$lg-heading-font-size: 36px;
$sm-text-size: 14px;
$md-text-size: 25px;

/*===== SIZES =====*/
$card-width: 175px;
$card-spacing: 10px;
$card-row-spacing: 10px;

$color-3: #222; // box font color
